.git
.github
.idea
.vscode
.fleet
.claude

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docs
ml
sample_data
scripts

*.log
.env
.env.*
!.env.example

docker-compose*.yml
compose*.yml

landing
coverage
spendly_logo_v1.svg
